.heroSectionBlock {
	width: 100%;
	display: flex;
	justify-content: center;
}

.heroSection {
	background: url('/flight-view.png') no-repeat center center;
	background-size: cover;
	padding: 40px;
	border-radius: 10px;
	max-width: 1292px;
}

.container {
	text-align: center;
}

.features {
	display: flex;
	justify-content: space-between;
	margin-bottom: 140px;
}

.feature {
	text-align: left;
	flex: 1;
	margin: 0 10px;
}

.featureSubTitle {
	color: #1c1c1e;
	font-family: var(--font-myFont), Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.featureDescription {
	color: #a9a9a9;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}


.mainContent {
	max-width: 879px;
	margin-top: 50px;
	text-align: left;
}

.subtitle {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 20px;
	text-align: left;
	gap: 10px;
}

.subtitle::before {
	content: "";
	display: inline-block;
	border-bottom: 2px solid #000;
	width: 40px;
}

.title {
	color: #1C1C1E;
	font-family: UNCAGE, Arial, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 42px;
	text-transform: uppercase;
	text-align: left;
	margin: 20px 0;
}

.button {
	background-color: #fff;
	color: #000;
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: #444;
}

@media (max-width: 768px) {
	.featureDescription {
		color: #000;
	}
	
	.features {
		flex-direction: column;
		gap: 40px;
	}
}

@media (max-width: 430px) {
	.heroSection {
		padding: 16px;
		border-radius: 10px;
		max-width: 420px;
		margin: 0 5px;
	}
	
	.title {
		font-size: 24px;
		line-height: 30px;
		margin: 20px 0 40px 0;
	}
	
	.button {
		width: 224px;
		padding: 20px 30px;
		border-radius: 10px;
	}
	
	.features {
		margin-bottom: 10px;
	}
}

@media (max-width: 390px) {
	.heroSection {
		padding: 12px;
		max-width: 380px;
	}
}

