@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	text-decoration: none;
	transition: color 0.3s;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
p {
	margin: 0;
}

img {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
}

button {
	padding: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
	appearance: none;
	-moz-appearance: textfield;
}

.page-container {
	margin: 0 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background-color: #f1f1f1;
	font-size: 18px;
	line-height: 24px;
	font-family: Inter, Helvetica, sans-serif;
}

.page-wrapper {
	max-width: 1296px;
}

.main-container {
	display: flex;
	justify-content: center;
}

.footer {
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
}

.bottom {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

.policyInfo {
	display: flex;
	gap: 150px;
}

@media (max-width: 768px) {
	.policyInfo {
		gap: 10px;
		flex-wrap: wrap;
	}
}

@media (max-width: 800px) {
	body {
		font-size: 13px;
	}
}


@media (max-width: 600px) {
	.bottom {
		flex-direction: column;
		gap: 6px;
		padding: 10px;
	}
}
