.featuresBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1292px;
	margin: 30px 0 100px 0;
	background-color: inherit;
}

.subtitle {
	display: flex;
	align-items: center;
	gap: 20px;
	color: #211A12;
	font-family: 'Inter', 'Helvetica', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
}

.subtitle::before {
	content: "";
	display: inline-block;
	border-bottom: 2px solid #000;
	width: 40px;
}

.title {
	max-width: 516px;
	color: #211A12;
	font-family: var(--font-roboto-mono);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	text-transform: uppercase;
	margin: 20px 0 40px 0;
}

.ctaButton {
	padding: 20px 30px;
	border-radius: 10px;
	border: 1px solid #C2C2C2;
	background: #F1F1F1;
	color: #211912;
	font-family: Inter, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

.featuresList {
	max-width: 100%;
	grid-area: list;
	display: flex;
	flex-direction: column;
}

@media (max-width: 768px) {
	.textContent {
		text-align: center;
	}
	
	.featuresList {
		align-items: center;
		gap: 5px;
		padding: 0 5px;
	}
	
	.title {
		text-align: left;
	}
}

@media (max-width: 1000px) {
	
	.textContent {
		text-align: left;
	}
}

@media (max-width: 1000px) {
	.textContent {
		justify-content: center;
		text-align: left;
	}
}


@media (max-width: 430px) {
	.featuresBlock {
		padding: 5px;
	}
	
	.featuresBlock {
		gap: 5px;
	}
	
	.title {
		max-width: 380px;
	}
	
	.featuresList {
		max-width: 100%;
	}
}

@media (max-width: 390px) {
	
	.featuresBlock {
		justify-content: center;
		padding: 5px;
		align-items: center;
	}
	
	.featuresList {
		max-width: 100%;
	}
	
	.textContent {
		max-width: 380px;
	}
}

.featuresList {
	display: flex;
	flex-direction: column;
	gap: 20px; /* Отступы между элементами */
}

.featureItemWrapper {
	opacity: 0; /* Изначально скрыты */
	transform: translateY(20px); /* Смещение вниз */
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Плавная анимация */
}

.featureItemWrapper.active {
	opacity: 1; /* Блок становится видимым */
	transform: translateY(0); /* Возвращается в исходное положение */
}

.featureItemWrapper.hidden {
	opacity: 0; /* Скрыт */
	transform: translateY(-20px); /* Уходит вверх */
}



