.header {
	display: flex;
	align-items: center;
	padding: 10px 0;
	background-color: inherit;
	justify-content: space-between;
	margin-bottom:72px;
}

.headerWrapper {
	display: flex;
	gap: 40px;
}

.navList {
	list-style: none;
	display: flex;
	gap: 40px;
	margin: 0;
	padding: 0;
}

@media (max-width: 768px) {
	.header {
		gap: 10px;
	}
	
	.navList {
		gap: 20px;
	}
}

@media (max-width: 430px) {
	.header {
		display: none;
	}
}