.downloadButtons {
	display: flex;
	gap: 20px;
	margin-top: 20px;
	justify-content: flex-start;
	position: relative;
	z-index: 100;
}

.button {
	display: flex;
	width: 144px;
	gap: 10px;
	align-items: center;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.2s ease-in-out;
	padding: 4px;
}

.button:hover {
	transform: scale(1.05);
}

.buttonText {
	display: flex;
	flex-direction: column;
}

.buttonDescription {
	color: #494949;
	font-family: 'Product Sans', Arial, sans-serif;;
	font-size: 12px;
	font-weight: 400;
	white-space: nowrap;
}